h1{
    color:red;
    background-color:aqua;
}
p{
    color:yellow
}
.hello{
    color:blueviolet;
}
#hello{
    color:crimson;
}
.yellow{
    color:yellow
}
.red-backgroud{
    background-color: red;

}
p{
    color: blue;
}
strong{
    background-color: yellow;
}
em{
    background-color: red;
}
#example{
    background-color: green;
}